

.zip-container{
    background-color: #2F5B33;
    padding: 2rem;
    margin: 2rem;
    margin-top: 1;
    border-radius: 16px;
}


h4{
    color: #FFFBD8;
    margin-top: 0;

}

.input{
    background-color: #FFFBD8;
    border: none;
    border-radius: 5px;
}

.zip-button{
    background-color: #529459;
    color: white;
    border: none;
    border-radius: 50px;
   margin-top: 1rem;
    padding: 10px;
    
}

.card-container{
    background-color: #E8EEC4;
    border-radius: 24px;
    gap: 7px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}