

.header{
    position: sticky;
  z-index: 1000;
  top: 0px;
  display: flex;
  background-color:#3E7A44;
  color: white;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  max-height: 3vh;
  padding: 1rem;

  &__title{
    text-decoration: none;
    color: white;
    align-self: flex-start;
    margin: 0;
  }

}

.header-icons{
  align-self: flex-end;
}

.icon{
  height: 25px;
  width: 25px;
}