.large-button {
    display: flex;
    background-color: aqua;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px 5px;
    color: black;
    background: #F0C861;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.large-button span {
  text-align: center;

}
a {
    text-decoration: none;
  }
  
  .small-button {
    display: flex;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background: #99E1A0;
    box-shadow: 0px 1.92857px 2.41071px rgba(0, 0, 0, 0.14), 0px 0.482143px 4.82143px rgba(0, 0, 0, 0.12), 0px 0.964286px 1.92857px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -10px;  
    right: 2px;
    // font-size: 24px;
  }
.small-button span {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 2px;
    color: black;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: end;
    margin-top: 55px;

  }
